@import "tailwindcss";

:root {
  --foreground: #171717;
  --font-sans: var(--font-rubik);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  font-family: var(--font-rubik), sans-serif;
}